## Игнорировать файлы сборки и бинарные файлы ##
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates

## Игнорировать файлы пакетов NuGet ##
[Nn]u[Gg]et/
*.nupkg
packages/

## Игнорировать резервные копии и временные файлы ##
*~
*.swp
*.swo

## Игнорировать настройки VS и Rider ##
.vs/
.idea/
*.VC.db
*.VC.VC.opendb

## Игнорировать результаты тестов ##
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Игнорировать файлы журналов и диагностики ##
*.log
*.tlog
*.patch

## Игнорировать файлы Azure и Docker ##
[Dd]ockerfile
*.dockerignore
[Aa]zure/

## Игнорировать специфичные для macOS файлы ##
.DS_Store